<a href="https://colab.research.google.com/github/yenamalavinoothna/Campus-Placement-Prediction/blob/main/campus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Datasets/students_placement_data.csv')
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [ ]:
data.isnull().sum()

Roll No                               0
Gender                                0
Section                               0
SSC Percentage                        1
inter_Diploma_percentage              0
B.Tech_percentage                     0
Backlogs                              0
registered_for_ Placement_Training    1
placement status                      0
dtype: int64

In [ ]:
data.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,117.000000,117.000000
mean,59.000000,80.474569,80.772906,62.943419,4.111111
std,33.919021,8.836079,11.267248,12.064306,6.335148
min,1.000000,47.800000,52.200000,31.200000,0.000000
25%,30.000000,76.622500,73.400000,54.180000,0.000000
50%,59.000000,82.745000,83.600000,64.360000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

In [ ]:
data.shape

(117, 9)

In [ ]:
null1=pd.isnull(data['SSC Percentage'])
data[null1]

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [ ]:
null2=pd.isnull(data['registered_for_ Placement_Training'])
data[null2]

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
56,57,M,A,64.0,56.7,31.2,22,NaN,Not placed

In [ ]:
newData=data.dropna()

In [ ]:
newData.shape

(115, 9)

In [ ]:
newData['Gender'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
newData['Gender']=newData['Gender'].map({'M':0, 'F':1})
newData.head(2)

<ipython-input-13-4f468f6abe74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['Gender']=newData['Gender'].map({'M':0, 'F':1})

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,0,A,87.3,65.3,40.00,18,NO,Not placed
1,2,1,A,89.0,92.4,71.45,0,yes,Placed

In [ ]:
newData['Section'].unique()

array(['A', 'B'], dtype=object)

In [ ]:
newData['Section']=newData['Section'].map({'A':0, 'B':1})
newData.head(2)

<ipython-input-15-722be46e9444>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['Section']=newData['Section'].map({'A':0, 'B':1})

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,0,0,87.3,65.3,40.00,18,NO,Not placed
1,2,1,0,89.0,92.4,71.45,0,yes,Placed

In [ ]:
newData['registered_for_ Placement_Training'].unique()

array(['NO', 'yes'], dtype=object)

In [ ]:
newData['registered_for_ Placement_Training']=newData['registered_for_ Placement_Training'].map({'NO':0, 'yes':1})
newData.head(2)

<ipython-input-17-19e939b9738b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['registered_for_ Placement_Training']=newData['registered_for_ Placement_Training'].map({'NO':0, 'yes':1})

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,0,0,87.3,65.3,40.00,18,0,Not placed
1,2,1,0,89.0,92.4,71.45,0,1,Placed

In [ ]:
newData['placement status'].unique()

array(['Not placed', 'Placed'], dtype=object)

In [ ]:
newData['placement status']=newData['placement status'].map({'Not placed':0, 'Placed':1})
newData.head(2)

<ipython-input-19-45baafcc4c31>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['placement status']=newData['placement status'].map({'Not placed':0, 'Placed':1})

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,0,0,87.3,65.3,40.00,18,0,0
1,2,1,0,89.0,92.4,71.45,0,1,1

In [ ]:
data.columns

Index(['Roll No', 'Gender', 'Section', 'SSC Percentage',
       'inter_Diploma_percentage', 'B.Tech_percentage', 'Backlogs',
       'registered_for_ Placement_Training', 'placement status'],
      dtype='object')

In [ ]:
newData=newData.drop('Roll No',axis=1)

In [ ]:
x=newData.drop('placement status',axis=1)
y=newData['placement status']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
lr=LogisticRegression()
lr.fit(x_train,y_train)

sv=SVC()
sv.fit(x_train,y_train)

knn=KNeighborsClassifier()
knn.fit(x_train,y_train)

dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)

rf=RandomForestClassifier()
rf.fit(x_train,y_train)

gb=GradientBoostingClassifier()
gb.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

GradientBoostingClassifier()

In [ ]:
y_pred1=lr.predict(x_test)
y_pred2=sv.predict(x_test)
y_pred3=knn.predict(x_test)
y_pred4=dt.predict(x_test)
y_pred5=rf.predict(x_test)
y_pred6=gb.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
score1=accuracy_score(y_test,y_pred1)
score2=accuracy_score(y_test,y_pred2)
score3=accuracy_score(y_test,y_pred3)
score4=accuracy_score(y_test,y_pred4)
score5=accuracy_score(y_test,y_pred5)
score6=accuracy_score(y_test,y_pred6)

In [ ]:
final_data=pd.DataFrame({'Models':['LR','SVC','KNN','DT','RF','GB'],'ACC':[score1*100,score2*100,score3*100,score4*100,score5*100,score6*100]})
final_data

  Models        ACC
0     LR  86.956522
1    SVC  86.956522
2    KNN  86.956522
3     DT  69.565217
4     RF  86.956522
5     GB  86.956522

In [ ]:
newData.columns

Index(['Gender', 'Section', 'SSC Percentage', 'inter_Diploma_percentage',
       'B.Tech_percentage', 'Backlogs', 'registered_for_ Placement_Training',
       'placement status'],
      dtype='object')

In [ ]:
#new=pd.DataFrame({'Gender':0, 'Section':1, 'SSC Percentage':85, 'inter_Diploma_percentage':75,'B.Tech_percentage':70, 'Backlogs':2, 'registered_for_ Placement_Training':1},index=[0])
input_data=('M','A',85,75,70,2,'Yes')
raw_data=np.asarray(input_data)
if raw_data[0]=='M':
  raw_data[0]=0
else:
  raw_data[0]=1
if raw_data[1]=='A':
  raw_data[1]=0
else:
  raw_data[1]=1
if raw_data[6]=='Yes':
  raw_data[6]=1
else:
  raw_data[6]=0
input_data_reshaped=raw_data.reshape(1,-1)
#input_data_reshaped=input_data_as_np_array.reshape(1,-1)
prediction=sv.predict(input_data_reshaped)
print(prediction)
if prediction[0]==0:
  print('student will not be placed')
else:
  print('student will be placed')

[0]
student will not be placed

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [ ]:
import pickle

In [ ]:
filename='trained_model.sav'
pickle.dump(sv,open(filename,'wb'))

In [ ]:
#loading saved model
loaded_model= pickle.load(open('trained_model.sav', 'rb'))

In [ ]:
input_data=('M','A',85,75,70,2,'Yes')
raw_data=np.asarray(input_data)
if raw_data[0]=='M':
  raw_data[0]=0
else:
  raw_data[0]=1
if raw_data[1]=='A':
  raw_data[1]=0
else:
  raw_data[1]=1
if raw_data[6]=='Yes':
  raw_data[6]=1
else:
  raw_data[6]=0
input_data_reshaped=raw_data.reshape(1,-1)
#input_data_reshaped=input_data_as_np_array.reshape(1,-1)
prediction=sv.predict(input_data_reshaped)
print(prediction)
if prediction[0]==0:
  print('student will not be placed')
else:
  print('student will be placed')

[0]
student will not be placed

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(